## Palabras

In [3]:
words=['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [15]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

In [10]:
for word in words:
    upper_words.append(word.upper())
print(upper_words)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND', 'PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND', 'PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND', 'PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND', 'PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Crea una nueva lista que contenga 5 o más letras**

In [18]:
five_letter=[]
for word in words:
    if len(word) >= 5:
        five_letter.append(word)
    else: 
        print(word)

play
bar
date
lead
that

In [20]:
print(five_letter)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [22]:
for i in words:
    if i[0] == "t":
     print(i)
     break

theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [31]:
cuadrados=[]
for i in range(1,11):
    cuadrado=i*i
    cuadrados.append(cuadrado)
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
x=[i*i for i in range(1,11)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [35]:
for i in x:
    if i%2 == 0: 
        print(i)

4
16
36
64
100

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [42]:
x=[]
for i in range(1,1001):
        if (i*i)%8==0:
            x.append(i)
print(x)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 500, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 600, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 700, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 900, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1000]

## People

In [75]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [76]:
len(people)

5

**Cuanta gente tiene hijos**?

In [77]:
hijos=[]
for i in people:
    if i["n_kids"] >0:
        hijos.append(i)
len(hijos)
print(f"hay {len(hijos)}")

hay 4

In [94]:
total_hijo=0
for i in people:
     total_hijo += i["n_kids"]
print(total_hijo)

10

**Cuantos hijos tienen en total?**

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [99]:
nuevo_diccionario = []

for persona in people:
    nueva_cantidad_hijos = persona["n_kids"]

    if persona["name"][-1] == "a":  # Verifica si el nombre termina en "a"
        nueva_cantidad_hijos += 1  # Añade un niño extra si el nombre termina en "a"

    nuevo_diccionario.append({
        "name": persona["name"],
        "age": persona["age"],
        "n_kids": nueva_cantidad_hijos
    })

print(nuevo_diccionario)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]